*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
.main{
width: 100%;
height: 100vh;
padding-top: 100px;
background: linear-gradient(rgba(23, 23, 23, 0.9)50%, rgba(23, 23, 23, 0.4)), url(./images/AdobeStock_537522488\ 1.png)center /cover no-repeat;
}
.nav-link{
 font-size: 16px;
 color: white;
 font-family: "Poppins", serif;
 transition: all 5ms;
}
.nav-link:hover{
 color: #F8A543;
}
.nav-brand img{
 width: 220px;
 height: 47px;
}
.A-btn{
 width: 93px;
 height: 33px;
 font-size: 8px;
 color: #1E1000;
  font-family: "Poppins", serif;
  border-radius: 30px;
  background: #F8A543;
  border: none;
  cursor: pointer;
}
@media (max-width:992px){
 .navbar-collapse{
text-align: center;
 height: 100vh;
;
}
.A-none{
 display: none;
}
#A-navbar{
  background: linear-gradient(#161616);
}
}

@media (min-width:993px){
 .nav-link{
  font-family: "DM Sans", serif;
    color: #525252;
 }
 .A-btn{
  font-size: 12px;
 }
}
@media (min-width:1400px){
#A-link {
  font-size:20px;
  font-weight: bolder;
 }
 .A-btn{
  font-size: 20px;
  font-family: "DM Sans", serif;
  width: 196px;
  height: 63px;
  border-radius: 40px;
 }
#navbar-logo {
 width: 261px;
 height: 63px;
  }
}
.display-5{
 color: #F8A543;
 font-family: "Montserrat", serif;
}
.A-text{
 color: #454545;
    font-family: "DM Sans", serif;
}
@media ( min-width:1400px){
.display-5{
 font-size: 50px;
 line-height: 140%;
font-family: "Montserrat", serif;
}
.A-text {
 font-size: 20px;
 line-height: 150%;
   font-family: "DM Sans", serif;
}
}



/* section */
#section{
 width: 100%;
 height: 40vh;
 display: flex;
 align-items: flex-end;
}
@media (min-width:993px) and (max-width:1400px){

 #section{
  height: 35vh;
 }
}

.A-row {
display: flex;
width: 100%;
flex-wrap: wrap;
background: white;
border-radius: 15px;
padding: 10px;
}
.A-col{
  text-align: left;
}
.A-col p{
 font-size: 8px;
 line-height: 150%;
   font-family: "DM Sans", serif;
   color: #B3B3B3;
   margin-left: 35px;
}
.A-col h5 {
 font-size: 14px;
 line-height: 150%;
 color: #454545;
 margin-left: 35px;
    margin-top: 5px;
}
.section-icon{
 margin-left: 10px;
}
.section-icon > img {
 width: 24px;
 height: 24px;
 float: left;
}
.A-row .btn{
 background: #F8A543;
 margin: auto;
 font-family: "DM Sans", serif;
 color: white;
 border-radius: 16px;
 margin-top: 10px;
}
@media (max-width:992px){
.A-row .btn {
 margin-bottom: 15px;
}
}
@media (min-width:993px){
 .A-col h5{
  font-size: 20px;
  color: black;
 }
 .A-col p{
  font-size: 15px;
 }
 .A-col p img {
  width: 25px;
  height: 25px;
 }
 .A-row .btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 12px;
 }
 .A-row{
  border-radius: 50px;
 }
  .section-icon > img{
   margin-top:5px ;
   margin-left:5px ;
  }
}
@media (min-width:1401px){
 #section{
  height: 45;
  padding-bottom: 20px;
 }
}